**/.DS_Store

# Environment variables
.env
services/**/.env

# Dependencies
node_modules/
services/**/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# IDE
.vscode/
dataset/
**/dist
**/node_modules
**/__pycache__
.venv
**/*.tar
**/.secrets
**/secret.yaml
**/.env
**/_deps/**
**/CMakeFiles/**
**/tests/**
**/full/**
**/build/**
**/lib/**
*.pt
